---
import BlogPost from '../components/BlogPost.astro';
import Layout from '../layouts/Layout.astro';
const title = 'gamersi Blog';
const posts = await Astro.glob('./posts/*.md');
---

<Layout title={title}>
    <h1 class="text-4xl font-bold">Welcome to my Blog!</h1>
    <p class="mt-4">Here are my latest posts:</p>
    <div class="flex flex-row flex-wrap gap-4 mt-4">
        {
            posts.map((post) => (
                <BlogPost
                    url={post.url}
                    title={post.frontmatter.title}
                    date={post.frontmatter.pubDate}
                    lang={post.frontmatter.lang}
                />
            ))
        }
    </div>
</Layout>
