---
let projects = [
    {
        name: 'Advent of Code 2024',
        description: 'My Advent of Code 2024 Solutions.',
        image: '/images/aoc24.webp',
        link: '/projects/aoc24',
    },
    {
        name: 'PassmanTRS',
        description: 'A Passwordmanager written in Rust and Svelte.',
        image: '/images/PassmanTRS.webp',
        link: '/projects/PassmanTRS',
    },
    {
        name: 'Wettus',
        description: 'A modern Weather App in German.',
        image: '/images/Wettus.webp',
        link: 'https://wettus.gamersi.at',
    },
    {
        name: 'Advent of Code 2023',
        description: 'My Advent of Code 2023 Solutions.',
        image: '/images/aoc23.webp',
        link: '/projects/aoc23',
    },
    {
        name: 'DynQR',
        description:
            'A Dynamic QR Code Generator written in React and express.',
        link: '/projects/DynQR',
    },
    {
        name: 'jspong',
        description: 'A simple Pong Game written in JavaScript.',
        link: '/projects/jspong',
    },
    {
        name: 'jssnake',
        description: 'A simple Snake Game written in JavaScript.',
        link: '/projects/jssnake',
    },
    {
        name: 'WordleWis',
        description: 'A Wordle clone with jQuery.',
        link: '/projects/WordleWis',
    },
];
---

<div class="flex flex-wrap justify-center">
    {
        projects.map((project) => (
            <a
                href={project.link}
                class="m-3 p-3 border-2 border-gray-600 rounded-lg bg-gray-700 text-gray-50 hover:bg-gray-600 transition-colors duration-200 flex flex-col items-center justify-center"
                transition:animate="none"
            >
                {project.image && (
                    <img
                        src={project.image}
                        alt={project.name}
                        class="h-32 object-cover"
                    />
                )}
                <h2 class="text-3xl font-bold mt-4" transition:name={`title-${project.name}`}>{project.name}</h2>
                <p class="text-lg text-center">{project.description}</p>
            </a>
        ))
    }
</div>
