---
import { getCollection } from 'astro:content';
import BlogPost from '@components/BlogPost.astro';
import Layout from '@layouts/Layout.astro';
const title = 'gamersi Blog';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    const tags = posts.map((post) => post.data.tags).flat();
    return tags.map((tag) => ({
        params: { tag },
    }));
}

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()).filter((post) => post.data.tags.includes(Astro.params.tag ?? ''));
---

<Layout title={title}>
    <h1 class="text-4xl font-bold">Tag: {Astro.params.tag}</h1>
    <div class="flex flex-row flex-wrap gap-4 mt-4">
        {
            posts.map((post) => (
                <BlogPost
                    url={`/posts/${post.id}`}
                    title={post.data.title}
                    date={post.data.pubDate}
                    lang={post.data.lang}
                />
            ))
        }
    </div>
</Layout>
