---
import Layout from '@layouts/Layout.astro';

interface Props {
    data: {
        title: string;
        pubDate: Date;
        author: string;
        image: {
            hasImage: boolean;
            url?: string;
            alt?: string;
        };
        tags: string[];
        lang?: string;
    } | undefined;
}

const { data } = Astro.props;
---

<Layout title={data?.title ?? ''}>
    <h1 class="text-5xl font-bold">{data?.title}</h1>
    <p class="text-gray-300">
        Published on {data?.pubDate.toLocaleDateString()}{
            data?.lang && ` in ${data?.lang}`
        } by {data?.author}
    </p>
    <div class="flex flex-row flex-wrap gap-2">
        {data?.tags.map((tag) => (
            <p class="text-gray-300 bg-gray-700 rounded-md px-2 py-1">
                {tag}
            </p>
        ))}
    </div>
    {
        data?.image.hasImage && (
            <img
                src={data?.image.url}
                width="300"
                alt={data?.image.alt}
            />
        )
    }
    <div class="mt-4" id="content">
        <slot />
    </div>
</Layout>

<style is:global>
    @reference "../styles/global.css";

    #content h1 {
        @apply text-4xl font-bold;
    }

    #content h2 {
        @apply text-3xl font-bold;
    }

    #content h3 {
        @apply text-2xl font-bold;
    }

    #content h4 {
        @apply text-xl font-bold;
    }

    #content h5 {
        @apply text-lg font-bold;
    }
</style>
